#main-page {
    margin-top: 550px;
    width: 100%;
    text-align: center;
}

#admin-page {
    margin: 0;
}

#newest-posts {
    width: 70%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#map {
    margin-top: 15px;
    border-radius: 8px !important;
}

#filteringInput {
    width: 350px;
    margin: 15px auto;
    padding: 10px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid #f1f1f1;
    border-radius: 8px;

    font-weight: 500;
    color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 768px) {
    #newest-posts {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    #filteringInput {
        width: 100%;
        box-sizing: border-box;
    }
}
