#main-page {
    display: flex;
}

#newest-posts {
    width: 350px;
}

#map {
    margin-top: 15px;
    border-radius: 8px !important;
}

#filteringInput {
    width: 350px;
    margin: 15px auto;
    padding: 10px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid #f1f1f1;
    border-radius: 8px;

    font-weight: 500;
    color: rgba(0, 0, 0, .5);
}

#homePage {
    /* width: 100vw; */
}