.form {
    height: calc(auto + 350px);
}

.form {
    width: 100%;
}

.submitBtn {
    /*margin-top: 115px;*/
    /*margin-bottom: 25px;*/
    width: max-content;
    margin: 115px auto 25px auto;
}

.tagSubmitBtn {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #4050B5;
    background: transparent;
    width: 35px;
    height: 35px;
    cursor: pointer;

    color: #4050B5;
    font-weight: 800;
    margin-left: 10px;
}

form h5 {
    font-size: 18px;
}

form h6 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 5px;
}

.liked {
    width: 350px;
}

.likesButton {
    display: flex;
    justify-content: flex-en;
}
