.form {
    height: calc(auto + 350px);
}

.submitBtn {
    margin-top: 350px;
    margin-bottom: 100px;
}

form h5 {
    font-size: 18px;
}

form h6 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 5px;
}
