* {
  padding: 0;
  margin: 0;

  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f1f1f1;
}

.logotype {
  font-size: 26px;
  font-weight: 700;
  color: cornflowerblue;
}
