* {
  padding: 0;
  margin: 0;

  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profilePage {
  padding: 15px 35px;
}

#somePost {
  width: min-content;
  margin: 50px auto;
}

#singlePostPage {
  width: 350px;
  margin: 15px auto;
  padding: 25px;
  background: rgba(0, 0, 0, .025);
}
